.cta-button {
  width: 300px;
  height: 60px;
  border-radius: 10px;
  background-color: #d6b99a;
  border: solid 0px #d6b99a;
  color: #ffffff;
  font-size: 16px;
}

.cta-button:hover {
  background-color: #fbfaf8;
  transition: .5s;
  cursor: pointer;
  border-width: 3px;
  color: #000000;
}

@media screen and (max-width: 768px) {
  .cta-button {
      margin: 0;
    }
}